* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background: white;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #ff0057;
  background-image: linear-gradient(62deg, #ff0057 0%, #181719 100%);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  height: 8rem;
  z-index: 10;
}

.logo {
  color: #ffffff;
  position: relative;
  top: calc(3.5rem - 2.2rem);
  right: 500px;
}

.menu-toggler {
  width: 35px;
  height: 25px;
  position: absolute;
  top: calc((100% - 25px) / 2);
  right: 35px;
  transition: 0.5s ease-out;
}

.toggler-line {
  width: inherit;
  position: absolute;
  height: 4.5px;
  display: block;
  background-color: #ffffff;
  border-radius: 30px;
  transition: 0.5s ease-out;
  transform-origin: 2.75px;
}

.menu-toggler.rotate {
  transform: rotate(-720deg);
}

#line1 {
  top: 0;
}
#line2 {
  top: calc((100% - 4px) / 2);
}

#line3 {
  bottom: 0;
}

#line1.rot45deg {
  transform: rotate(45deg);
}

#line2._width {
  width: 0;
}

#line3.rot-45deg {
  transform: rotate(-45deg);
}

.bar {
  width: 60%;
  height: 0;
  top: 6.6rem;
  position: fixed;
  overflow-y: hidden;
  transition: 0.55s ease;
}

.bar.display {
  height: 30vh;
}

.bar .wrapper {
  margin-top: 1.7rem;
}

.bar .wrapper div a {
  text-decoration: none;
  display: block;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 1rem 1rem;
  border-bottom: 1px solid darkred;
  transition: 0.3s ease-out;
  text-align: center;
  background-color: #45567d;
}

.bar .wrapper div:hover a {
  color: #ffffff;
  transition: 0.3s ease-in;
}

/* Media Queries */

@media screen and (max-width: 767px) {
  .bar1 {
    display: none;
  }
  .logo {
    position: relative;
    right: 100px;
  }
}

@media screen and (min-width: 767px) {
  .menu-toggler {
    display: none;
  }

  .bar1 {
    height: 2.1rem;
    position: absolute;
    top: calc(3.5rem - 1rem);
    right: 15rem;
  }
  .bar .wrapper {
    display: none;
  }

  .bar1 .wrapper div {
    display: inline-block;
    margin-left: 2rem;
  }

  .bar1 .wrapper div a {
    color: #ffffff;
    font-size: 2rem;
    text-decoration: none;
    padding: 3rem 2rem;
  }

  .bar1 .wrapper div a:hover {
    color: #00008b;
    transition: all 0.3s ease-out;
  }
}

/* Begin : Welcome section */

.welcome-section > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 30%;
}

@media only screen and (min-width: 240px) and (max-width: 480px) {
  .welcome-section > img {
    width: 150px;
    height: 150px;
    margin-top: -40px;
    border-radius: 50%;
  }
  .welcome-section > h1 {
    margin-top: 40px;
  }
  /* .logo {
    margin-left: -20px;
  } */
}

.responsive-img {
  width: 100px;
  max-width: 400px;
  height: auto;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 80% 80%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0% #181719 100%);
}

body {
  font-family: sans-serif;
  line-height: 2;
  font-weight: 400;
  /* background-color: #d86161; */
  line-height: 1.4;
  color: #ffffff;
}

.subtitle {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 200;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
}

/* begin: project section */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: #ffffff;
}

/* Note the h1 and h2 tags  */
h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 4.2rem;
}

a {
  text-decoration: none;
  color: white;
}

img {
  display: block;
  width: 100%;
}

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background: #45567d;
}

.projects-header {
  width: 235px;
  margin: -50px auto 6rem auto;
  border-bottom: 0.2rem solid white;
  font-size: 2rem;
  margin-top: 10px;
}

@media (max-width: 28.75em) {
  .projects-header {
    font-size: 2rem;
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
  width: 100%;
  max-width: 1280px;
  margin-bottom: 6rem;
  margin-top: -10px;
  padding-top: 0.5rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }
  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background: #303841;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.code {
  color: #303841;
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #ff7f50;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 1rem;
  padding: 2rem 0.5rem;
  margin-top: 2px;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.btn-view-projects {
  font-size: 1.5rem;
  background: #303841;
  transition: background 0.3s ease-out;
}

.btn-view-projects:hover {
  background: #ff7f50;
}

.btn-view-projects:hover > i {
  transform: translateX(2px);
}

.btn-view-projects > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 3rem;
  }
}

/* End : project section */

/* start : project */

.testimonial-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150vh;
  background-color: #ef1960;
  background-image: linear-gradient(62deg rgba(91, 91, 165, 0.467) 0% #181719);
}

.testimonial-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0, 2rem solid var(--main-white);
}

.testimonial-section > img {
  width: 20%;
  height: 40%;
  border-radius: 50%;
}

@media only screen and (min-width: 240px) and (max-width: 480px) {
  .testimonial-section .responsive-img {
    width: 40%;
    height: 20%;
    border-radius: 50%;
  }
}

.testimonial-section > p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: var(--main-red);
}

.testimonial-header {
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.testimonial-section > h3 {
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: 200;
  font-style: italic;
  padding: 10px;
  color: var(--main-black);
}

blockquote {
  font-family: Georgia, serif;
  padding: 0.35em 20px;
  line-height: 1.45;
  position: relative;
  color: #ffffff;
}

blockquote::before {
  display: block;
  padding-left: 10px;
  content: "\201c";
  font-size: 80px;
  position: absolute;
  left: -30px;
  top: -23px;
  color: #ffffff;
}

@media (max-width: 28.75em) {
  .testimonial-section > img {
    width: 40px;
    padding-top: 5px;
    height: 30px;
    border-radius: 50px;
  }
}
/* End project */

/* start:contact */

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: var(--main-gray);
  background: indigo;
}

.contact-section-header > h2 {
  font-size: 6rem;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-section-header > p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: var(--main-gray);
  border-top: 4px solid var(--main-pink);
  background-color: black;
}

footer > p {
  margin: 2rem;
}

footer i {
  vertical-align: middle;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}
